.input-field {
  display: flex;
  flex-direction: column;
}

.input-field__input {
  cursor: text;
  height: 48px;
  min-width: 256px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #BDBDBD;
  font-size: 24px;
  background-color: #FAFAFA;
}

.input-field__label {
  font-size: 16px;
  line-height: 32px;
}
